# Hidden files
**/.*

# IDE files
**/*classpath
**/*.iml
**/out
**/gen

# Binaries
**/bin*

# Libs
**/lib*
**/*.dylib

# Package Files
**/*.jar
**/*.war
**/*.ear

# TODO Avoid sprites copy?
**/effects